<header class="py-4">
  <h1 class="container fw-bold fs-2 text-center text-white">
    <% if (typeof header !== "undefined") { %>
    <%= header %>
    <% } else { %>
    Título padrão
    <% } %>
  </h1>
</header>