<!DOCTYPE html>
<html lang="pt-br">

<%
  if (typeof header === "undefined") { 
     header = "Padrão"
  }
%>

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= header %>
  </title>

  <link rel="stylesheet" href="./build/app.css" />

</head>

<body class="bg-white text-dark">
  <%- include('../partials/header', { header: header }) %>

  <%- body %>

  <%- include('../partials/footer') %>

<script type="module" src="./build/app.js"></script>
</body>

</html>